{{#each this}}
<h2 class="country-name">{{name}}</h2>
<div class="country">
    <div class="country__description">
        <h3 class="country__description-capital country__description-item">
            Capital: <span class="capital">{{capital}}</span>
        </h3>
        <h3 class="country__description-population country__description-item">
            Population: <span class="population">{{population}}</span>
        </h3>
        <h3 class="country__description-languages country__description-item">
            Languages:
        </h3>
        <ul class="country__description-languages-list">
            {{#each languages}}
            <li class="country__description-languages-item">{{name}}</li>
            {{/each}}
        </ul>
    </div>
    <div class="country__flag">
        <img src="{{flag}}" alt="{{name}}" class="country__flag-img" width="400px" />
    </div>
</div>
{{/each}}